<template>
    <div v-if="detailInfo != null" >
        <el-descriptions title="재고 리스트 상세보기" :column="3" border>
            <el-descriptions-item label="상품 이름" label-class-name="my-label" content-class-name="my-content">{{ detailInfo.productName }}<br /></el-descriptions-item>
            <el-descriptions-item label="재고수량">{{ detailInfo.stockQuantity }}<br /></el-descriptions-item>
            <el-descriptions-item label="최소기준수량">{{ detailInfo.minQuantity }}</el-descriptions-item>
        </el-descriptions>
        <el-row>
            <el-button type="primary" @click.native="moveEdit(id)" align-center>
                수정
            </el-button>
        </el-row>
    </div>
</template>
<script>
export default {
    middleware: 'auth',
    asyncData({ params }) {
        return {
            id: params.id
        }
    },
    data() {
        return {
            id: null,
            detailInfo: null,
        }
    },
    methods: {
        async getDetail() {
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            await this.$store.dispatch(this.$stockConstants.DO_LIST_DETAIL, {id: this.id})
                .then((res) => {
                    this.detailInfo = res.data.data
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        moveEdit(id) {
            let linkBaseUrl = '/stock/edit/'
            this.$router.push(`${linkBaseUrl}${id}`)
        },
    },
    created() {
        this.getDetail()
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'STOCK_DETAIL')
    },
}
</script>
