<template>
    <div>
        <el-form ref="ruleForm" :model="ruleForm" :rules="rules" label-width="auto">
            <el-form-item label="재고수량" prop="stockQuantity">
                <el-input v-model="ruleForm.stockQuantity"></el-input>
            </el-form-item>
            <el-form-item label="최소기준수량" prop="minQuantity">
                <el-input v-model="ruleForm.minQuantity"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click.native="doSetData()">등록</el-button>
            </el-form-item>
        </el-form>
    </div>
</template>
<script>
export default {
    // fk 받아올때 쓰는거
    asyncData({ params }) {
        return {
            id: params.id
        }
    },
    data() {
        return {
            productId: null,
            ruleForm: {
                stockQuantity: '',
                minQuantity: ''
            },
            rules: {
                stockQuantity: [
                    { required: true, message: '재고 수량을 입력해주세요.', trigger: 'blur'},
                    { min:0, message:'재고 수량을 입력해주세요.', trigger: 'blur'}
                ],
                minQuantity: [
                    { required: true, message: '최소 기준수량을 입력해주세요.', trigger: 'blur'},
                    { min:0, message:'최소 기준수량을 입력해주세요.', trigger: 'blur'}
                ],
            }
        }
    },
    methods: {
        doSetData() {
            let formName = 'ruleForm'
            this.$refs[formName].validate(valid => {
                if (valid) {
                    this.setData()
                } else {
                    return false
                }
            })
        },
        setData() {
            let payload = {
                productId: this.id,
                list: {
                    stockQuantity: this.ruleForm.stockQuantity,
                    minQuantity: this.ruleForm.minQuantity
                }
            }
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$stockConstants.DO_DATA, payload)
                // 성공 했을때.
                .then(res => {
                    console.log(res)
                    this.$toast.success(res.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                // 실패 했을때.
                .catch(err => {
                    console.log(err)
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'STOCK_ADD')
    },
}
</script>
