<template>
    <div>
        <div v-if="detailInfo != null">
            상품명: {{ detailInfo.productName }}<br />
            상품타입: {{ detailInfo.productType }}<br />
            가격: {{ detailInfo.unitPrice }}<br />
            상태: {{ detailInfo.isEnabled }}
        </div>
        <div class="mt-2">
            <el-button type="info" @click.native="moveEdit(id)">수정</el-button>
            <el-button type="info" @click.native="moveStock(id)">재고등록</el-button>
        </div>
    </div>
</template>
<script>
export default {
    // id 받는거
    middleware: 'auth',
    asyncData({ params }) {
        return {
            id: params.id
        }
    },
    // validate({ params }) {
    //     return /^\d+$/.test(params.id)
    // },
    data() {
        return {
            id: null,
            detailInfo: null,
        }
    },
    methods: {
        async getDetail() {
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            await this.$store.dispatch(this.$productConstants.DO_DETAIL, {id: this.id})
                .then((res) => {
                    this.detailInfo = res.data.data
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        moveEdit(id) {
            let linkBaseUrl = '/product/edit/'
            this.$router.push(`${linkBaseUrl}${id}`)
        },
        moveStock(id) {
            let linkBaseUrl = '/stock/form/'
            this.$router.push(`${linkBaseUrl}${id}`)
        }
    },
    created() {
        this.getDetail()
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'PRODUCT_DETAIL')
    },
}
</script>
