<template>
    <div v-if="detailInfo != null" >
        <el-descriptions title="판매 상세보기" :column="3" border>
            <el-descriptions-item label="상품명" label-class-name="my-label" content-class-name="my-content">{{ detailInfo.productName }}<br /></el-descriptions-item>
            <el-descriptions-item label="단가">{{ detailInfo.unitPrice }}<br /></el-descriptions-item>
            <el-descriptions-item label="수량">{{ detailInfo.quantity }}</el-descriptions-item>
            <el-descriptions-item label="금액">{{ detailInfo.price }}<br /></el-descriptions-item>
            <el-descriptions-item label="환불일">{{ detailInfo.dateRefund }}<br /></el-descriptions-item>
            <el-descriptions-item label="상태">{{ detailInfo.isComplete }}</el-descriptions-item>
            <el-descriptions-item label="판매Id">{{ detailInfo.sellId }}</el-descriptions-item>
            <el-descriptions-item label="판매년도">{{ detailInfo.sellYear }}</el-descriptions-item>
            <el-descriptions-item label="판매월">{{ detailInfo.sellMonth }}</el-descriptions-item>
            <el-descriptions-item label="판매일">{{ detailInfo.sellDay }}</el-descriptions-item>
            <el-descriptions-item label="판매시간">{{ detailInfo.timeSell }}</el-descriptions-item>
            <el-form-item>
                <el-button type="primary" @click.native="doPutData()">수정</el-button>
                <el-button @click.native="moveDetail()">취소</el-button>
            </el-form-item>
        </el-descriptions>
    </div>
</template>
<script>
export default {
    middleware: 'auth',
    asyncData({ params }) {
        return {
            id: params.id
        }
    },
    data() {
        return {
            id: null,
            detailInfo: null,
        }
    },
    methods: {
        async getDetail() {
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            await this.$store.dispatch(this.$sellConstants.DO_DETAIL, {id: this.id})
                .then((res) => {
                    this.detailInfo = res.data.data
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
    },
    created() {
        this.getDetail()
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'SELL_DETAIL')
    },
}
</script>
