
<template>
    <div>
        <div class="custom-loading-container" v-if="loadingShow">
            <div class="custom-loading-back"></div>
            <div class="custom-loading-contents">
                <i class="el-icon-loading"></i>
            </div>
        </div>
    </div>
    <!-- vue는 모든게 컴포넌트. 왜 컴포넌트 하나로 감싸져야할까? 한뭉탱이 씩 안주면 오류뜸 -->
</template>

<script>
export default {
    // computed -
    computed: {
        loadingShow() {
            return this.$store.getters[this.$customLoadingConstants.GET_LOADING_SHOW]
        }
    }
}
</script>
