<template>
    <div>
        <el-form ref="ruleForm" :model="ruleForm" :rules="rules" label-width="auto">
            <el-form-item label="제목" prop="title">
                <el-input v-model="ruleForm.title"></el-input>
            </el-form-item>
            <el-form-item label="내용" prop="content">
                <el-input type="textarea" v-model="ruleForm.content"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click.native="doSetData()">등록</el-button>
                <el-button>취소</el-button>
            </el-form-item>
        </el-form>
    </div>
</template>
<script>
export default {
    data() {
        return {
            ruleForm: {
                title: '',
                content: ''
            },
            rules: {
                title: [
                    { required: true, message: '제목을 입력해주세요.', trigger: 'blur'},
                    { min:2, max:30, message:'2~30자 내로 입력해주세요.', trigger: 'blur'}
                ],
                content: [
                    { required: true, message: '내용을 입력해주세요.', trigger: 'blur'},
                    { min:10, message:'최소 10자를 입력해주세요.', trigger: 'blur'}
                ],
            }
        }
    },
    methods: {
        doSetData() {
            let formName = 'ruleForm'
            this.$refs[formName].validate(valid => {
                if (valid) {
                    this.setData()
                } else {
                    return false
                }
            })
        },
        setData() {
            let payload = {
                title: this.ruleForm.title,
                content: this.ruleForm.content,
            }
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$boardConstants.DO_DATA, payload)
                .then(res => {
                    this.$toast.success(res.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    this.$router.replace(`/board/list`)
                })
                .catch(err => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'BOARD_ADD')
    },
}
</script>

