<template>
    <div>
        <h1>이름 : {{ peopleName }}님</h1>
        <h2>연락처 : {{ peoplePhone }}</h2>
        <h3>나이 : {{ peopleAge }}세</h3>
    </div>
</template>
<script>

export default {
    // 필요해(props)
    props: {
        peopleName: {
            type: String,
            required: true
        },
        peoplePhone: {
            type: String,
            required: true
        },
        peopleAge: {
            type: Number,
            required: true
        }
    }
}
</script>
