<template>
        <el-row :gutter="15">
            <input type="file" @change="uploadFile()" ref="csvFile"/>
        </el-row>
</template>
<script>
export default {
    methods: {
        async uploadFile() {
            this.csvFile = this.$refs.csvFile.files[0]

            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            await this.$store.dispatch(this.$sellConstants.DO_FILE_UPLOAD, this.csvFile)
                .then(res => {
                    this.$toast.success(res.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch(err => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        }
    }
}
</script>
