<template>
    <div>
        <el-table
            @row-click="moveDetail"
            :data="list"
            style="width: 100%">
            <el-table-column
                prop="sellId"
                label="판매Id">
            </el-table-column>
            <el-table-column
                prop="productName"
                label="상품명">
            </el-table-column>
            <el-table-column
                prop="quantity"
                label="수량">
            </el-table-column>
            <el-table-column
                prop="price"
                label="금액">
            </el-table-column>
            <el-table-column
                prop="sellYear"
                label="연도">
            </el-table-column>
            <el-table-column
                prop="sellMonth"
                label="월">
            </el-table-column>
            <el-table-column
                prop="sellDay"
                label="일">
            </el-table-column>
            <el-table-column
                prop="timeSell"
                label="시간">
            </el-table-column>
            <el-table-column
                prop="dateRefund"
                label="환불일">
            </el-table-column>
            <el-table-column
                prop="isComplete"
                label="완료여부">
            </el-table-column>
        </el-table>
        <div>
            <el-pagination
                background
                small
                layout="prev, pager, next"
                :total="totalItemCount"
                :current-page="page"
                @current-change="setPage"
            >
            </el-pagination>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            list: [],
            page: 1,
            totalItemCount: 0,
        }
    },
    methods: {
        setPage(page) {
            this.page = page
            this.getList()
        },
        getList() {
            let payload = {
                page: this.page,
            }
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$sellConstants.DO_LIST, payload)
                .then((res) => {
                    this.list = res.data.list
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        isNumber(text) {
            return !isNaN(Number(text))
        },
        moveDetail(row) {
            let linkBaseUrl = '/sell/detail/'
            let id = row.id
            this.$router.push(`${linkBaseUrl}${id}`)
        },
    },
    created() {
        this.getList()
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'SELL_LIST')
    },
}
</script>
