<template>
    <div>
        <el-form ref="ruleForm" :model="ruleForm" label-width="auto">
            <el-form-item label="영수증 번호" prop="billNumber">
                <el-input v-model="ruleForm.billNumber"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click.native="doPutData">환불</el-button>
                <el-button @click.native="moveList">취소</el-button>
            </el-form-item>
        </el-form>
    </div>
</template>
<script>
export default {
    data() {
        return {
            ruleForm: {
                billNumber: 0,
            },
        }
    },
    methods: {
        // 취소버튼
        moveList() {
            let linkBaseUrl = '/sell/list/'
            this.$router.push(`${linkBaseUrl}`)
        },
        // 수정버튼
        doPutData() {
            let formName = 'ruleForm'
            this.$refs[formName].validate(valid => {
                if (valid) {
                    this.putData()
                } else {
                    return false
                }
            });
        },
        putData() {
            let payload = {
                billNumber: this.ruleForm.billNumber
            }
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$sellConstants.DO_REFUND, payload)
                .then(res => {
                    this.$toast.success(res.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    this.$router.replace(`/sell/list`)
                })
                .catch(err => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        }
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'SELL_REFUND')
    },
}
</script>
