<template>
    <div>
        <div>
            <card-people
                v-for="(item, index) in testList "
                v-bind:key="index"
                v-bind:people-name="item.name"
                v-bind:people-phone="item.phoneNumber"
                v-bind:people-age="item.age"
            />
        </div>
        {{ testList }}
    </div>
</template>
<script>
export default {
    // index.vue 안에서 쓸 데이터를 선언하는 역할
    data() {
        return {
            testList: [
                {
                    name:'홍길동',
                    phoneNumber: '010-0000-0000',
                    age: 30
                },
                {
                    name:'홍길동',
                    phoneNumber: '010-0000-0000',
                    age: 30
                },
                {
                    name:'홍길동',
                    phoneNumber: '010-0000-0000',
                    age: 30
                }
            ]
        }
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'DASH_BOARD')
    },
}
</script>
