<template>
    <div>
        <el-form ref="ruleForm" :model="ruleForm" label-width="auto">
            <el-form-item label="최소 기준수량" prop="minQuantity">
                <el-input v-model="ruleForm.minQuantity"></el-input>
            </el-form-item>
            <el-form-item label="재고 수량" prop="stockQuantity">
                <el-input type="textarea" v-model="ruleForm.stockQuantity"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click.native="doPutData()">수정</el-button>
                <el-button @click.native="moveDetail()">취소</el-button>
            </el-form-item>
        </el-form>
    </div>
</template>
<script>
export default {
    // fk 받아오기
    asyncData({ params }) {
        return {
            id: params.id
        }
    },
    data() {
        return {
            id: null,
            ruleForm: {
                minQuantity: '',
                stockQuantity: ''
            },
        }
    },
    methods: {
        // 상세정보
        moveDetail() {
            let linkBaseUrl = '/stock/list/'
            this.$router.push(`${linkBaseUrl}`)
        },
        // 수정버튼
        doPutData() {
            let formName = 'ruleForm'
            this.$refs[formName].validate(valid => {
                if (valid) {
                    this.putData()
                } else {
                    return false
                }
            });
        },
        putData() {
            let payload = {
                id: this.id,
                list: {
                    minQuantity: this.ruleForm.minQuantity,
                    stockQuantity: this.ruleForm.stockQuantity
                },
            }
                this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
                this.$store.dispatch(this.$stockConstants.DO_UPDATE, payload)
                    .then(res => {
                        this.$toast.success(res.data.msg)
                        this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                        this.$router.replace(`/stock/list`)
                    })
                    .catch(err => {
                        this.$toast.error(err.response.data.msg)
                        this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    })
            }
        },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'STOCK_EDIT')
    },
}
</script>
