<template>
    <div>
        <el-form ref="ruleForm" :model="ruleForm" :rules="rules" label-width="auto">
            <el-form-item label="제목" prop="title">
                <el-input v-model="ruleForm.title"></el-input>
            </el-form-item>
            <el-form-item label="내용" prop="content">
                <el-input type="textarea" v-model="ruleForm.content"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click.native="doPutData()">수정</el-button>
                <el-button @click.native="moveDetail()">취소</el-button>
            </el-form-item>
        </el-form>
    </div>
</template>
<script>
export default {
    // fk 받아오기
    asyncData({ params }) {
        return {
            id: params.id
        }
    },
    data() {
        return {
            id: null,
            ruleForm: {
                title: '',
                content: ''
            },
            rules: {
                title: [
                    { required: true, message: '제목을 입력해주세요.', trigger: 'blur'},
                    { min:2, max:30, message:'2~30자 내로 입력해주세요.', trigger: 'blur'}
                ],
                content: [
                    { required: true, message: '내용을 입력해주세요.', trigger: 'blur'},
                    { min:10, message:'최소 10자를 입력해주세요.', trigger: 'blur'}
                ],
            }
        }
    },
    methods: {
        // 상세정보
        moveDetail() {
            let linkBaseUrl = '/board/list/'
            this.$router.push(`${linkBaseUrl}`)
        },
        // 수정버튼
        doPutData() {
            let formName = 'ruleForm'
            this.$refs[formName].validate(valid => {
                if (valid) {
                    this.putData()
                } else {
                    return false
                }
            });
        },
        putData() {
            let payload = {
                id: this.id,
                list: {
                    title: this.ruleForm.title,
                    content: this.ruleForm.content
                },
            }
                this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
                this.$store.dispatch(this.$boardConstants.DO_UPDATE, payload)
                    .then(res => {
                        this.$toast.success(res.data.msg)
                        this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                        this.$router.replace(`/board/list`)
                    })
                    .catch(err => {
                        this.$toast.error(err.response.data.msg)
                        this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    })
            }
        },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'BOARD_EDIT')
    },
}
</script>
